.wy-nav-content {
    width: 120% !important;
}
.sphx-glr-thumbcontainer {
    height: 100px !important;
    margin: 1px !important;
}
.sphx-glr-thumbcontainer .figure {
    width: 100px !important;
}
.sphx-glr-thumbcontainer img {
    display: inline;
    height: 100px !important;
    width: 100px !important;
    margin: 1px !important;
}
.sphx-glr-thumbcontainer a.internal {
    padding: 100px 10px 0 !important;
}
.bottom-of-page {
    visibility: hidden;
}
.sphx-glr-thumbnails {
    height: 100px !important;
    width: 100px !important;
    margin: 1px !important;
}