.wy-nav-content {
    max-width: 120% !important;
}
/*copy from _static/sg_gallery.css file*/
.sphx-glr-thumbnails {
  width: 90%;
  display: block;
  margin: auto;
  align-items: center;
  text-align: center;
}
.sphx-glr-thumbcontainer {
  background: transparent;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--sg-thumb-box-shadow-color);

  width: 33%;
  /* align content in thumbnail */
  display: block;
  margin: auto;
  align-items: center;
  text-align: center;
}
.sphx-glr-thumbcontainer .figure {
    margin: auto;
    align-items: center;
    text-align: center;
}
.sphx-glr-thumbcontainer img {
    margin: auto;
    align-items: center;
    text-align: center;
}
.sphx-glr-thumbcontainer a.internal {
    margin: auto;
    align-items: center;
    text-align: center;
}